<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDFExtractor</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="display-5 text-center mt-5 mb-3"><b>Welcome to PyPDFConverter!</b></h1>
        <h2 class="text-center">Upload a File from local</h2>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-dismissible fade show {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% endif %}" role="alert">
                        <p class="mb-0">{{ message }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- File upload form -->
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" class="text-center">
            <input type="file" name="file" accept=".txt, .pdf, .doc, .docx" class="form-control-file mx-auto mb-3">
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</body>

</html>
